<div class="container text-center" id="HomeDiv">
  <div class="row align-items-center">
    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="EminBrankovicDiv">
      <button type="button" class="btn btn-outline-primary" routerLink="/user/dashboard">User</button>
    </div>

    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="EdinTabakDiv">
      <button type="button" class="btn btn-outline-primary" routerLink="/vehicle/dashboard">Vehicle</button>
    </div>

    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="DenisKundoDiv">
      <button type="button" class="btn btn-outline-primary" routerLink="/company/dashboard">Company</button>
    </div>
    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="EminDiv">
      <button type="button" class="btn btn-outline-primary" routerLink="/employee/login">Employee</button>
    </div>
    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="EdinDiv">
      <button type="button" class="btn btn-outline-primary" routerLink="/admin/login">Administrator</button>
    </div>
  </div>
</div>
