<div class="container text-center" id="HomeDiv">
  <div class="row align-items-center">
    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="EminBrankovicDiv">
      <button type="button" class="btn btn-primary"><a href="http://localhost:4200/user/dashboard">User</a></button>
    </div>

    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="EdinTabakDiv">
      <button type="button" class="btn btn-primary"><a href="http://localhost:4200/vehicle/dashboard">Vehicle</a></button>
    </div>

    <div class="MainHomeDiv col d-flex justify-content-center align-items-center" id="DenisKundoDiv">
      <button type="button" class="btn btn-primary"><a href="http://localhost:4200/company/dashboard">Company</a></button>
    </div>
  </div>
</div>
